@import '../../styles/variables.scss';

.signatureContainer {
  .mySignature {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0 30px;
    // border: $black 1px solid;
    background: $white;
    // box-shadow: 0px 0px 100px 10px rgba($lightBlue, 0.2);

    .logo {
      position: absolute;
      right: -35px;
      top: 48%;
      width: 100px;
      transform: rotate(-90deg) translateY(-50%);
    }

    .signatureInfo {
      max-width: 50%;

      h1 {
        color: $lightBlue;
        font: $signatureHeading;
      }

      h2 {
        color: $black;
        font: $signatureSubtitle;
      }

      h3 {
        color: $gray;
        font: $signatureText;
      }

      .contacts {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;

        li {
          display: flex;
          gap: 5px;

          img {
            width: 16px;
          }

          p {
            font-size: 12px;
            color: $black;
          }
        }
      }
    }

    div:last-child {
      background: $lightBlue;
      width: 500px;
      height: 400px;

      position: absolute;
      right: -120px;
      top: 0;

      transform: rotate(-60deg);

      overflow: hidden;

      img {
        position: absolute;
        width: 120%;

        /*mexe com estas medidas para centrar a pessoa*/
        right: -50px;
        top: -200px;

        transform: rotate(60deg);
        object-fit: cover;
      }
    }
  }
}