@import '../../styles/variables.scss';

.signatureContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    align-self: flex-end;
  }

  .mySignature {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0 30px;
    // border: $black 1px solid;
    background: $white;
    // box-shadow: 0px 0px 100px 10px rgba($lightBlue, 0.2);

    .logo {
      position: absolute;
      right: -35px;
      top: 48%;
      width: 100px;
      transform: rotate(-90deg) translateY(-50%);
    }

    .logoVertical {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 150px;
    }

    .signatureInfo {
      max-width: 50%;

      h1 {
        color: $lightBlue;
        font: $signatureHeading;
      }

      h2 {
        color: $black;
        font: $signatureSubtitle;
      }

      h3 {
        color: $gray;
        font: $signatureText;
      }

      .contacts {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 15px;

        li {
          display: flex;
          gap: 5px;

          img {
            width: 16px;
          }

          p {
            font-size: 12px;
            color: $black;
          }
        }
      }
    }

    .signatureImage {
      background: $lightBlue;
      width: 500px;
      height: 350px;

      position: absolute;
      right: -120px;
      top: 0;

      transform: rotate(-60deg);

      overflow: hidden;

      div {
        position: absolute;
        width: 500px;
        height: 350px;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        cursor: grab;

        img {
          width: 80%;
          // position: absolute;
          object-fit: cover;
          transform: rotate(60deg);

          cursor: grab;

          user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }
      }
    }
  }
}