@import '../../styles/variables.scss';

.jekers {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 3;

  .closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .jekersContainer {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    background-color: $white;
    padding: 20px;
    overflow: scroll;

    .jeker {
      text-align: center;
    }
  }
}