@import './variables.scss';


body,
html {
  color: $white;

  img {
    max-width: 100%;
  }

  h1 {
    font: $heading;
  }

  h2 {
    font: $subtitle;
  }

  p,
  span,
  label,
  input {
    font: $text;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}