@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.tutorial {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($dark, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 3;

  .tutorialHeader {
    background-color: $dark;
    width: 80%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    a {
      color: $lightBlue;
      font: $subtitle;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      background-color: transparent;
      border-style: none;
      color: white;
      border: 1px solid #ccc;
      display: inline-block;
      width: 36px;
      height: 36px;
      cursor: pointer;

      display: flex;
      align-items: center;
      align-self: flex-end;
      gap: 6px;

      i {
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .tutorialContainer {
    width: 80%;
    height: 80%;
    background-color: $dark;
    padding: 20px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mobile {
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(3, 1fr);
    }

    >div {
      width: 100% !important;
      height: 100% !important;
    }
  }
}